<mat-card-content class="footerblock">

  <img src=" https://all-frontend-assets.s3.amazonaws.com/Genomics/images/logo2.png" alt="#" class="footerlogog">

  <span class="footercopyright"><span>Copyright 2020</span> | <span>All Right Reserved by Genomics Laboratory</span></span>


</mat-card-content>





<span class="scroll-to-top" [ngClass]="{ 'show-scrollTop': windowScrolled }">
  <a (click)="scrollToTop()">
    <img src=" https://all-frontend-assets.s3.amazonaws.com/Genomics/images/footer_arrow.png" >
  </a>
</span>