<span class="CGXInformation_top">
  <span class="CGXInformation_top_wrapper">
    <span class="CGXInformation_top_logo">
  <img src=" https://all-frontend-assets.s3.amazonaws.com/Genomics/images/logo2.png" alt="">
</span>
</span>
</span>


<span class="CGXInformation_body">

  <form [formGroup]="myforminner" (ngSubmit)="doSubmitinner()">
  <span class="CGXInformation_body_wrapper">

  

    <h2>CGX INFORMATION</h2>

    <span class="CGXInformation_con1">
    <h3 class="CGXh31">Physician Information</h3>

    <span class="CGXInformation_span">
      <mat-label>Primary Care Physician: </mat-label>
     <input placeholder="Primary Care Physician"  [formControl]="myforminner.controls['Physician']" (blur)="inputUntouch(myforminner,'Physician')">
      <mat-error   *ngIf="!myforminner.controls['Physician'].valid && myforminner.controls['Physician'].touched" class="errortext">Primary Care Physician field can not be blank</mat-error> 
    </span>

   <span class="CGXInformation_span">
      <mat-label>Telephone: </mat-label>
     <input placeholder="Telephone"  [formControl]="myforminner.controls['telephone']" (blur)="inputUntouch(myforminner,'telephone')">
      <mat-error   *ngIf="!myforminner.controls['telephone'].valid && myforminner.controls['telephone'].touched" class="errortext">Telephone field can not be blank</mat-error> 
    </span>

    <span class="CGXInformation_span">
      <mat-label>Fax: </mat-label>
     <input placeholder="Fax"  [formControl]="myforminner.controls['fax']" (blur)="inputUntouch(myforminner,'fax')">
      <mat-error   *ngIf="!myforminner.controls['fax'].valid && myforminner.controls['fax'].touched" class="errortext">Fax field can not be blank</mat-error> 
    </span>

    <span class="CGXInformation_span">
      <mat-label>Address: </mat-label>
     <textarea placeholder="Address"  [formControl]="myforminner.controls['address']" (blur)="inputUntouch(myforminner,'address')"></textarea>
      <mat-error   *ngIf="!myforminner.controls['address'].valid && myforminner.controls['address'].touched" class="errortext">Address field can not be blank</mat-error> 
    </span>
 
  

    <span class="CGXInformation_span">
      <mat-label>State: </mat-label>
      <select [formControl]="myforminner.controls['state']" (blur)="inputUntouch(myforminner,'state')">
        <option value="">Select a State</option>
        <option *ngFor="let ste of stateArray" value="{{ste.name}}">{{ste.name}}</option>
      </select>
      <mat-error   *ngIf="!myforminner.controls['state'].valid && myforminner.controls['state'].touched" class="errortext">State field can not be blank</mat-error>
    </span>


    
    <span class="CGXInformation_span">
      <mat-label>City: </mat-label>
      <select [formControl]="myforminner.controls['city']" (blur)="inputUntouch(myforminner,'city')">
        <option value="">Select a City</option>
        <option *ngFor="let ste of cityArray" value="{{ste.city}}">{{ste.city}}</option>
      </select>
      <mat-error   *ngIf="!myforminner.controls['city'].valid && myforminner.controls['city'].touched" class="errortext">City field can not be blank</mat-error>
    </span>
 
      
    
    <span class="CGXInformation_span">
      <mat-label>ZIP: </mat-label>
     <input placeholder="ZIP"  [formControl]="myforminner.controls['zip']" (blur)="inputUntouch(myforminner,'zip')">
      <mat-error   *ngIf="!myforminner.controls['zip'].valid && myforminner.controls['zip'].touched" class="errortext">ZIP field can not be blank</mat-error> 
    </span>

     

  



  </span>

  <span class="CGXInformation_con1">
    <h3 class="CGXh32">Client Profile Questionnaire</h3>


    <span class="matradio-group">
      <label>Do you use Diabetic Supplies (meters, strips, lancets, needles, etc.):  </label>
    <mat-radio-group aria-label="Select an option"  formControlName="diabetic"  >
      <mat-radio-button value="Yes">Yes</mat-radio-button>
      <mat-radio-button value="No">No</mat-radio-button>
    </mat-radio-group>
    <mat-error   *ngIf="!myforminner.controls['diabetic'].valid && myforminner.controls['diabetic'].touched" class="errortext">Please Select One</mat-error> 

  </span>

  <span class="matradio-group">
    <label>Do you use Wound Care Supplies:  </label>
   
  <mat-radio-group aria-label="Select an option" formControlName="supplies">
    <mat-radio-button value="Yes">Yes</mat-radio-button>
    <mat-radio-button value="No">No</mat-radio-button>
  </mat-radio-group>
  <mat-error   *ngIf="!myforminner.controls['diabetic'].valid && myforminner.controls['diabetic'].touched" class="errortext">Please Select One</mat-error> 
</span>

<span class="matradio-group">
  <label>Do you have or have you ever used a brace for pain relief: </label>

<mat-radio-group aria-label="Select an option" formControlName="relief">
  <mat-radio-button value="Yes">Yes</mat-radio-button>
  <mat-radio-button value="No">No</mat-radio-button>
</mat-radio-group>
<mat-error   *ngIf="!myforminner.controls['diabetic'].valid && myforminner.controls['diabetic'].touched" class="errortext">Please Select One</mat-error> 

</span>

<span class="matradio-group">
  <label>Do you use Topical Creams:  </label>
 
<mat-radio-group aria-label="Select an option" formControlName="creams">
  <mat-radio-button value="Yes">Yes</mat-radio-button>
  <mat-radio-button value="No">No</mat-radio-button>
</mat-radio-group>
<mat-error   *ngIf="!myforminner.controls['diabetic'].valid && myforminner.controls['diabetic'].touched" class="errortext">Please Select One</mat-error> 
</span>


<span class="matradio-group">
  <label>Have you ever tried Braces: </label>

<mat-radio-group aria-label="Select an option" formControlName="braces">
  <mat-radio-button value="Yes">Yes</mat-radio-button>
  <mat-radio-button value="No">No</mat-radio-button>
</mat-radio-group>
<mat-error   *ngIf="!myforminner.controls['diabetic'].valid && myforminner.controls['diabetic'].touched" class="errortext">Please Select One</mat-error> 
</span>


<span class="matradio-group">
  <label>Do you use a Walker:  </label>
 
<mat-radio-group aria-label="Select an option" formControlName="walker">
  <mat-radio-button value="Yes">Yes</mat-radio-button>
  <mat-radio-button value="No">No</mat-radio-button>
</mat-radio-group>
<mat-error   *ngIf="!myforminner.controls['diabetic'].valid && myforminner.controls['diabetic'].touched" class="errortext">Please Select One</mat-error> 
</span>


<span class="matradio-group">
  <label>Do you use a Scooter:   </label>
 
<mat-radio-group aria-label="Select an option" formControlName="scooter">
  <mat-radio-button value="Yes">Yes</mat-radio-button>
  <mat-radio-button value="No">No</mat-radio-button>
</mat-radio-group>
<mat-error   *ngIf="!myforminner.controls['diabetic'].valid && myforminner.controls['diabetic'].touched" class="errortext">Please Select One</mat-error> 
</span>


<span class="matradio-group">
  <label>Do you have Allergies:  </label>
 
<mat-radio-group aria-label="Select an option" formControlName="allergies">
  <mat-radio-button value="Yes">Yes</mat-radio-button>
  <mat-radio-button value="No">No</mat-radio-button>
</mat-radio-group>
<mat-error   *ngIf="!myforminner.controls['diabetic'].valid && myforminner.controls['diabetic'].touched" class="errortext">Please Select One</mat-error> 
</span>


<span class="matradio-group">
  <label>Do you use Catheters:  </label>
  
<mat-radio-group aria-label="Select an option" formControlName="catheters">
  <mat-radio-button value="Yes">Yes</mat-radio-button>
  <mat-radio-button value="No">No</mat-radio-button>
</mat-radio-group>
<mat-error   *ngIf="!myforminner.controls['diabetic'].valid && myforminner.controls['diabetic'].touched" class="errortext">Please Select One</mat-error> 
</span>



<span class="matradio-group">
  <label>Have you ever had Cancer:  </label>
 
<mat-radio-group aria-label="Select an option" formControlName="cancer">
  <mat-radio-button value="Yes">Yes</mat-radio-button>
  <mat-radio-button value="No">No</mat-radio-button>
</mat-radio-group>
<mat-error   *ngIf="!myforminner.controls['diabetic'].valid && myforminner.controls['diabetic'].touched" class="errortext">Please Select One</mat-error> 
</span>





  </span>


  <span class="CGXInformation_con1">
    <h3  class="CGXh32">Cancer Questionnaire</h3>
    <span class="CGXInformation_con1_block">
    <span class="CGXInformation_con_left">
      <span class="CGXInformation_con_left_top">

    <span class="con_left_text">Questionnaire</span>
    <span class="con_left_text">Name</span>
    <span class="con_left_text">Type   </span>
    <span class="con_left_text">Relation Type </span>
    <span class="con_left_text">Degree <br/>
      <p>Diagnose</p>   </span>
      <span class="con_left_text">Age <br/>
        <p> Diagnosed</p>   </span>
        <span class="con_left_text">If Deceased <br/>
          <p> Age At Death </p>  </span>

    </span>

    <span class="CGXInformation_con_left_body">
      <span class="con_left_text2">
      <label>Personal History :</label>
      </span>

      <span class="con_left_text2">
     
        <input placeholder="Name"  [formControl]="myforminner.controls['personalhistoryname']" >
        
      </span>

      <span class="con_left_text2">
       
        <input placeholder="Type"  [formControl]="myforminner.controls['personalhistorytype']">
        
      </span>

      <span class="con_left_text2">
        
        <input placeholder="Relation Type"   [formControl]="myforminner.controls['personalhistoryrelationrype']">
        
      </span>

      <span class="con_left_text2">
     
        <input placeholder="Degree Diagnose"  [formControl]="myforminner.controls['personalhistorydegreediagnose']">
        
      </span>

      <span class="con_left_text2">
       
        <input placeholder="Age Diagnosed"  [formControl]="myforminner.controls['personalhistorydgediagnosed']">
        
      </span>

      <span class="con_left_text2">
        
        <input  placeholder="If Deceased  Age At Death"  [formControl]="myforminner.controls['personalhistoryagedtdeath']">
        
      </span>
      

</span>

<span class="CGXInformation_con_left_body">
  <span class="con_left_text2">
  <label>Family History:</label>
  </span>

  <span class="con_left_text2">
 
    <input placeholder="Name"  [formControl]="myforminner.controls['familyhistoryname']" >
    
  </span>

  <span class="con_left_text2">
   
    <input placeholder="Type"  [formControl]="myforminner.controls['familyhistorytype']">
    
  </span>

  <span class="con_left_text2">
    
    <input placeholder="Relation Type"   [formControl]="myforminner.controls['familyhistoryrelationtype']">
    
  </span>

  <span class="con_left_text2">
 
    <input placeholder="Degree Diagnose"  [formControl]="myforminner.controls['familyhistorydegreediagnose']">
    
  </span>

  <span class="con_left_text2">
   
    <input placeholder="Age Diagnosed"  [formControl]="myforminner.controls['familyhistoryagediagnosed']">
    
  </span>

  <span class="con_left_text2">
    
    <input  placeholder="If Deceased  Age At Death"  [formControl]="myforminner.controls['familyhistoryageatdeath']">
    
  </span>
  

</span>


<span class="CGXInformation_con_left_body">
  <span class="con_left_text2">
  <label>Mother:</label>
  </span>

  <span class="con_left_text2">
 
    <input placeholder="Name"  [formControl]="myforminner.controls['mothername']" >
    
  </span>

  <span class="con_left_text2">
   
    <input placeholder="Type"  [formControl]="myforminner.controls['mothertype']">
    
  </span>

  <span class="con_left_text2">
    
    <input placeholder="Relation Type"   [formControl]="myforminner.controls['motherrelationtype']">
    
  </span>

  <span class="con_left_text2">
 
    <input placeholder="Degree Diagnose"  [formControl]="myforminner.controls['motherdegreediagnose']">
    
  </span>

  <span class="con_left_text2">
   
    <input placeholder="Age Diagnosed"  [formControl]="myforminner.controls['motheragediagnosed']">
    
  </span>

  <span class="con_left_text2">
    
    <input  placeholder="If Deceased  Age At Death"  [formControl]="myforminner.controls['motherageatdeath']">
    
  </span>
  

</span>

<span class="CGXInformation_con_left_body">
  <span class="con_left_text2">
  <label>Father :</label>
  </span>

  <span class="con_left_text2">
 
    <input placeholder="Name"  [formControl]="myforminner.controls['fathername']" >
    
  </span>

  <span class="con_left_text2">
   
    <input placeholder="Type"  [formControl]="myforminner.controls['fathertype']">
    
  </span>

  <span class="con_left_text2">
    
    <input placeholder="Relation Type"   [formControl]="myforminner.controls['fatherrelationtype']">
    
  </span>

  <span class="con_left_text2">
 
    <input placeholder="Degree Diagnose"  [formControl]="myforminner.controls['fatherdegreediagnose']">
    
  </span>

  <span class="con_left_text2">
   
    <input placeholder="Age Diagnosed"  [formControl]="myforminner.controls['fatheragediagnosed']">
    
  </span>

  <span class="con_left_text2">
    
    <input  placeholder="If Deceased  Age At Death"  [formControl]="myforminner.controls['fatherageatdeath']">
    
  </span>
  

</span> 

<span class="CGXInformation_con_left_body">
  <span class="con_left_text2">
  <label>Daughter :</label>
  </span>

  <span class="con_left_text2">
 
    <input placeholder="Name"  [formControl]="myforminner.controls['daughtername']" >
    
  </span>

  <span class="con_left_text2">
   
    <input placeholder="Type"  [formControl]="myforminner.controls['daughtertype']">
    
  </span>

  <span class="con_left_text2">
    
    <input placeholder="Relation Type"   [formControl]="myforminner.controls['daughterrelationtype']">
    
  </span>

  <span class="con_left_text2">
 
    <input placeholder="Degree Diagnose"  [formControl]="myforminner.controls['daughterdegreediagnose']">
    
  </span>

  <span class="con_left_text2">
   
    <input placeholder="Age Diagnosed"  [formControl]="myforminner.controls['daughteragediagnosed']">
    
  </span>

  <span class="con_left_text2">
    
    <input  placeholder="If Deceased  Age At Death"  [formControl]="myforminner.controls['daughterageatdeath']">
    
  </span>
  

</span>


 <span class="CGXInformation_con_left_body">
  <span class="con_left_text2">
  <label>Son :</label>
  </span>

  <span class="con_left_text2">
 
    <input placeholder="Name"  [formControl]="myforminner.controls['sonname']" >
    
  </span>

  <span class="con_left_text2">
   
    <input placeholder="Type"  [formControl]="myforminner.controls['sontype']">
    
  </span>

  <span class="con_left_text2">
    
    <input placeholder="Relation Type" [formControl]="myforminner.controls['sonrelationtype']"  >
    
  </span>

  <span class="con_left_text2">
 
    <input placeholder="Degree Diagnose"  [formControl]="myforminner.controls['sondegreediagnose']">
    
  </span>

  <span class="con_left_text2">
   
    <input placeholder="Age Diagnosed"  [formControl]="myforminner.controls['sonagediagnosed']">
    
  </span>

  <span class="con_left_text2">
    
    <input  placeholder="If Deceased  Age At Death"  [formControl]="myforminner.controls['sonageatdeath']">
    
  </span>
  

</span>

 <span class="CGXInformation_con_left_body">
  <span class="con_left_text2">
  <label>Brother :</label>
  </span>

  <span class="con_left_text2">
 
    <input placeholder="Name"  [formControl]="myforminner.controls['brothername']" >
    
  </span>

  <span class="con_left_text2">
   
    <input placeholder="Type"  [formControl]="myforminner.controls['brothertype']">
    
  </span>

  <span class="con_left_text2">
    
    <input placeholder="Relation Type" [formControl]="myforminner.controls['brotherrelationtype']"  >
    
  </span>

  <span class="con_left_text2">
 
    <input placeholder="Degree Diagnose"  [formControl]="myforminner.controls['brotherdegreediagnose']">
    
  </span>

  <span class="con_left_text2">
   
    <input placeholder="Age Diagnosed"  [formControl]="myforminner.controls['brotheragediagnosed']">
    
  </span>

  <span class="con_left_text2">
    
    <input  placeholder="If Deceased  Age At Death"  [formControl]="myforminner.controls['brotherageatdeath']">
    
  </span>
  

</span> 

 <span class="CGXInformation_con_left_body">
  <span class="con_left_text2">
  <label>Sister :</label>
  </span>

  <span class="con_left_text2">
 
    <input placeholder="Name"  [formControl]="myforminner.controls['sistername']" >
    
  </span>

  <span class="con_left_text2">
   
    <input placeholder="Type"  [formControl]="myforminner.controls['sistertype']">
    
  </span>

  <span class="con_left_text2">
    
    <input placeholder="Relation Type" [formControl]="myforminner.controls['sisterrelationtype']"  >
    
  </span>

  <span class="con_left_text2">
 
    <input placeholder="Degree Diagnose"  [formControl]="myforminner.controls['sisterdegreediagnose']">
    
  </span>

  <span class="con_left_text2">
   
    <input placeholder="Age Diagnosed"  [formControl]="myforminner.controls['sisteragediagnosed']">
    
  </span>

  <span class="con_left_text2">
    
    <input  placeholder="If Deceased  Age At Death"  [formControl]="myforminner.controls['sisterageatdeath']">
    
  </span>
  

</span> 

 <span class="CGXInformation_con_left_body">
  <span class="con_left_text2">
  <label>Nephew  :</label>
  </span>

  <span class="con_left_text2">
 
    <input placeholder="Name"  [formControl]="myforminner.controls['nephewname']" >
    
  </span>

  <span class="con_left_text2">
   
    <input placeholder="Type"  [formControl]="myforminner.controls['nephewtype']">
    
  </span>

  <span class="con_left_text2">
    
    <input placeholder="Relation Type" [formControl]="myforminner.controls['nephewrelationtype']"  >
    
  </span>

  <span class="con_left_text2">
 
    <input placeholder="Degree Diagnose"  [formControl]="myforminner.controls['nephewdegreediagnose']">
    
  </span>

  <span class="con_left_text2">
   
    <input placeholder="Age Diagnosed"  [formControl]="myforminner.controls['nephewagediagnosed']">
    
  </span>

  <span class="con_left_text2">
    
    <input  placeholder="If Deceased  Age At Death"  [formControl]="myforminner.controls['nephewageatdeath']">
    
  </span>
  

</span> 
   

 <span class="CGXInformation_con_left_body">
  <span class="con_left_text2">
  <label>Niece  :</label>
  </span>

  <span class="con_left_text2">
 
    <input placeholder="Name"  [formControl]="myforminner.controls['niecename']" >
    
  </span>

  <span class="con_left_text2">
   
    <input placeholder="Type"  [formControl]="myforminner.controls['niecetype']">
    
  </span>

 

  <span class="con_left_text2">
   
    <input placeholder="Relation Type"  [formControl]="myforminner.controls['niecerelationtype']">
    
  </span>

  <span class="con_left_text2">
 
    <input placeholder="Degree Diagnose"  [formControl]="myforminner.controls['niecedegreediagnose']">
    
  </span>

  <span class="con_left_text2">
   
    <input placeholder="Age Diagnosed"  [formControl]="myforminner.controls['nieceagediagnosed']">
    
  </span>

  <span class="con_left_text2">
    
    <input  placeholder="If Deceased  Age At Death"  [formControl]="myforminner.controls['niecengeatdeath']">
    
  </span>
  

</span> 
 

<span class="CGXInformation_con_left_body">
  <span class="con_left_text2">
  <label>Uncle :</label>
  </span>

  <span class="con_left_text2">
 
    <input placeholder="Name"  [formControl]="myforminner.controls['unclename']" >
    
  </span>

  <span class="con_left_text2">
   
    <input placeholder="Type"  [formControl]="myforminner.controls['uncletype']">
    
  </span>

  <span class="con_left_text2">
    
    <input placeholder="Relation Type" [formControl]="myforminner.controls['unclerelationtype']"  >
    
  </span>

  <span class="con_left_text2">
 
    <input placeholder="Degree Diagnose"  [formControl]="myforminner.controls['uncledgreediagnose']">
    
  </span>

  <span class="con_left_text2">
   
    <input placeholder="Age Diagnosed"  [formControl]="myforminner.controls['uncleugediagnosed']">
    
  </span>

  <span class="con_left_text2">
    
    <input  placeholder="If Deceased  Age At Death"  [formControl]="myforminner.controls['uncleageatdeath']">
    
  </span>
  

</span>
 

 <span class="CGXInformation_con_left_body">
  <span class="con_left_text2">
  <label>Autn :</label>
  </span>

  <span class="con_left_text2">
 
    <input placeholder="Name"  [formControl]="myforminner.controls['autnname']" >
    
  </span>

  <span class="con_left_text2">
   
    <input placeholder="Type"  [formControl]="myforminner.controls['autntype']">
    
  </span>

  <span class="con_left_text2">
    
    <input placeholder="Relation Type" [formControl]="myforminner.controls['autnrelationtype']"  >
    
  </span>

  <span class="con_left_text2">
 
    <input placeholder="Degree Diagnose"  [formControl]="myforminner.controls['autndegreediagnose']">
    
  </span>

  <span class="con_left_text2">
   
    <input placeholder="Age Diagnosed"  [formControl]="myforminner.controls['autnagediagnosed']">
    
  </span>

  <span class="con_left_text2">
    
    <input  placeholder="If Deceased  Age At Death"  [formControl]="myforminner.controls['autnageatdeath']">
    
  </span>
  

</span>

<span class="CGXInformation_con_left_body">
  <span class="con_left_text2">
  <label>Mom’s Father :</label>
  </span>

  <span class="con_left_text2">
 
    <input placeholder="Name"  [formControl]="myforminner.controls['momsfatherName']" >
    
  </span>

  <span class="con_left_text2">
   
    <input placeholder="Type"  [formControl]="myforminner.controls['momsfathertype']">
    
  </span>

  <span class="con_left_text2">
    
    <input placeholder="Relation Type" [formControl]="myforminner.controls['momsfatherrelationtype']"  >
    
  </span>

  <span class="con_left_text2">
 
    <input placeholder="Degree Diagnose"  [formControl]="myforminner.controls['momsfatherdegreediagnose']">
    
  </span>

  <span class="con_left_text2">
   
    <input placeholder="Age Diagnosed"  [formControl]="myforminner.controls['momsfatheragediagnosed']">
    
  </span>

  <span class="con_left_text2">
    
    <input  placeholder="If Deceased  Age At Death"  [formControl]="myforminner.controls['momsmatherageatdeath']">
    
  </span>
  

</span>

<span class="CGXInformation_con_left_body">
  <span class="con_left_text2">
  <label>Mom’s Mother :</label>
  </span>

  <span class="con_left_text2">
 
    <input placeholder="Name"  [formControl]="myforminner.controls['momsmothername']" >
    
  </span>

  <span class="con_left_text2">
   
    <input placeholder="Type"  [formControl]="myforminner.controls['momsmothertype']">
    
  </span>

  <span class="con_left_text2">
    
    <input placeholder="Relation Type" [formControl]="myforminner.controls['momsmotherrelationtype']"  >
    
  </span>

  <span class="con_left_text2">
 
    <input placeholder="Degree Diagnose"  [formControl]="myforminner.controls['momsmotherdegreediagnose']">
    
  </span>

  <span class="con_left_text2">
   
    <input placeholder="Age Diagnosed"  [formControl]="myforminner.controls['momsmotheragediagnosed']">
    
  </span>

  <span class="con_left_text2">
    
    <input  placeholder="If Deceased  Age At Death"  [formControl]="myforminner.controls['momsmotherageatdeath']">
    
  </span>
  

</span>


<span class="CGXInformation_con_left_body">
  <span class="con_left_text2">
  <label>other :</label>
  </span>

  <span class="con_left_text2">
 
    <input placeholder="Name"  [formControl]="myforminner.controls['othername']" >
    
  </span>

  <span class="con_left_text2">
   
    <input placeholder="Type"  [formControl]="myforminner.controls['othertype']">
    
  </span>

  <span class="con_left_text2">
    
    <input placeholder="Relation Type" [formControl]="myforminner.controls['otherrelationtype']"  >
    
  </span>

  <span class="con_left_text2">
 
    <input placeholder="Degree Diagnose"  [formControl]="myforminner.controls['otherdegreediagnose']">
    
  </span>

  <span class="con_left_text2">
   
    <input placeholder="Age Diagnosed"  [formControl]="myforminner.controls['otheragediagnosed']">
    
  </span>

  <span class="con_left_text2">
    
    <input  placeholder="If Deceased  Age At Death"  [formControl]="myforminner.controls['otherageatdeath']">
    
  </span>
  

</span>
 

      </span>


      <span class="CGXInformation_con_right">

        <h5>Type of Cancer</h5>

        <strong>*Breast</strong>
        <strong>*Ovarian</strong>
          <strong>*Digestive</strong>

          <p>-Pancreatic</p>
          <p>-Colon</p> 
          <p>-Rectal</p>
            <p>-Gallbadder</p>
            <p>-Intestinal</p>
            <p>-Stomach</p>
            <p>-Esophageal</p>
            <p>-Throat</p>
            <p>-Liver</p>

            <strong>*Lung</strong>
            <p>-Other Respiratory</p>

            <strong>*Genital</strong>
            <p>-Cervical</p>
            <p> -Uterine</p>
            <p>-Endometrial</p>
            <p>-Other Genital Organs</p>

            <strong>*Prostate</strong>
            <strong>*Testicular</strong>
              <strong>*Kidney</strong>
                <strong>*Bladder</strong>

           <p>-Urinary Tract</p>
                  <strong>*Leukemia</strong>
                    <strong>*Lymphatic</strong>
                      <strong>*Other Organ Systems</strong>

        </span>

      </span>
  </span>



 

  </span>

  <button mat-button class="CGXInformationbtn"><span class="subbtn">SUBMIT</span></button>

</form>

 
</span>


<app-footer></app-footer>