 
<mat-card class="landing_top">

  <mat-card-content class="landing_top_wrapper">
  <mat-card-content class="landing_top_left">
 <span class="landing_top_logo"> <img src="../../assets/images/logo.png" alt=""></span>

 <span class="landing_top_text">
 <h2>
   <span>CANCER</span> <span>GENOMICS</span>
  </h2>

  <h3>Comprehensive Hereditary Cancer 
    Risk Assessment</h3>

    <h4>Often, multiple genetic mutations in a single 
      individual are responsible for the 
      development of hereditary cancers.</h4>

      <span class="landing_top_imgtext">

        <span class="landing_top_imgtext_con">Get In Touch NOW & Book Your 
        Cancer Genomic Testing<strong> TODAY!!</strong>
      </span>
      </span>

</span>


<img src="../../assets/images/landing_img1.png" class="landing_img1">
</mat-card-content>

<mat-card-content class="landing_top_right">

  <span class="landing_top_right_form">


    <span class="landing_top_right_form_top">
        <h2> Fill Up Today </h2>
        <h3>It is performed at NO COST</h3>

    </span>


    <span class="landing_top_right_form_body">

            <form>

              <mat-form-field appearance="fill">
                <mat-label>First Name</mat-label>
                <input matInput>
              </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-label>Last Name</mat-label>
                <input matInput>
              </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-label>Email Address</mat-label>
                <input matInput>
              </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-label>Phone</mat-label>
                <input matInput>
              </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-label>Address</mat-label>
                <textarea matInput></textarea>
              </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-label>State</mat-label>
                <mat-select>
                  <mat-option value="option">Option</mat-option>
                </mat-select>
              </mat-form-field>


              <mat-form-field appearance="fill">
                <mat-label>City</mat-label>
                <mat-select>
                  <mat-option value="option">Option</mat-option>
                </mat-select>
              </mat-form-field>

       

              

              <mat-form-field appearance="fill">
                <mat-label>Zip</mat-label>
                <input matInput>
              </mat-form-field>

              <button mat-button><span class="subbtn">SUBMIT</span></button>
            </form>

    </span>


  </span>

  </mat-card-content>

<span class="clear"></span>

</mat-card-content>
</mat-card>



<mat-card class="landing_block2_body">

  <mat-card-content class="landing_block2_wrapper">

    <h2><span>Understand how your genetics can influence cancer risk.</span></h2>

      <h3>Hereditary or “predisposition” genetic testing looks for specific inherited changes 
        (mutations) in a person’s genetic make-up. Genetic mutations can have harmful, beneficial, neutral, or uncertain impacts on health. Mutations that are harmful may increase a person’s chance, or risk, of developing a disease such as cancer. Overall, inherited mutations are thought to play a role in 5-10% of all cancers. These particular disease states are known as hereditary cancers, and proper genetic testing can be used to determine an individual’s risk.
        <br/><br/>
        Cancer is a disorder in which normal control of cell growth is lost—causing abnormal 
proliferation of the effected cells. Inherited genetic mutations can increase a person’s risk of developing cancer through a variety of mechanisms, depending on the function of the 
mutated gene. Mutations in genes that control the repair of damaged DNA and cell growth are particularly likely to be associated with an increased risk of cancer.
        </h3>



    </mat-card-content>

    <h4>Some people inherit mutation(s) in the germline, potentially allowing for the cancers associated with the mutation(s) to be passed on. These mutation(s) occur in two classes of cellular genes: oncogenes and tumor suppressor genes.</h4>

</mat-card>


<mat-card class="landing_block3_body">

  <mat-card-content class="landing_block3_wrapper">

    <h2><span>Who Should Get Tested</span></h2>

     <h3>
     <p> If you suspect that you or someone you know may have an increased risk for cancer, 
      based on factors like abnormal familial cancer history or membership to an at-risk ethnic 
      population (such as Ashkenazi Jewish ancestry), you may want to discuss advanced genomic testing options like our Cancer Genomics with your 
      healthcare provider.</p>

      <span>
        <p>
        If one of your family members, however distant, has been diagnosed with cancer, there is a chance that you inherited a gene mutation that not only increases your 
        personal risk of developing cancer, but may also be passed on to your 
        offspring—<strong>potentially increasing their risk of developing cancer.</strong>
      </p>
      </span>

      <p> Mutation of the genes known to be associated with an increased risk of developing cancer, like those involved in DNA repair, often result in cancers that appear unique. An individual’s familial cancer history may include a number of 
seemingly distinct cancer cases. This mistakingly leads to the belief that the cancers are un-related, and not caused 
by a hereditary mutation.</p>
 
     </h3>


     <button mat-button  class="landing_block3" (click)="scroll()"><span class="landing_block3_span">GET TESTED NOW</span></button>

    </mat-card-content>


</mat-card>



 <mat-card class="landing_block4_body">

  <mat-card-content class="landing_block4_wrapper">

    <h2><span>Benefits of Testing</span></h2>

    <h3>
      Those who are carriers of hereditary cancer gene mutations, may be at risk of developing cancer earlier in life, as compared to members of the general population. The sooner 
      genetic testing is performed, the more likely it is that this increased risk can 
      be managed appropriately.
      <br/> <br/>

      <strong>Numerous professional practice guidelines describe increasingly stringent 
monitoring protocol</strong>—published specifically for management of 
patients in which deleterious mutation has been identified. These protocols may 
suggest the increased use of routine screening tools like mammograms and 
colonoscopies. Depending on the severity of the identified mutation(s), they may also suggest discussion of more aggressive options like prophylactic surgical intervention. Remember, your healthcare professional is your most valuable source of information.

    </h3>

    <button mat-button  class="landing_block4" (click)="scroll()"><span class="landing_block4_span">GET TESTED NOW</span></button>
    </mat-card-content>

    </mat-card> 

  <mat-card class="landing_block5_body">

      <mat-card-content class="landing_block5_bodycon">

        <mat-card-content class="landing_block5_wrapper">

          <h2><span>Providing Advanced Cancer Genomics 
            Testing and Profiling Services For<br/> 
            Over A Decade</span></h2>


            <h3>Operating within the industry for more than a decade, we have successfully gained the trust of our patients and have built a reputation for being an institution for the testing and 
              detection of cancer as a hereditary condition, offering premier testing 
              services right at your doorstep.
            <br/>  <br/>

            Cancer is a complex disease that can occur and impact every patient differently. In most cases, Cancer is often a result of the presence of Cancerous or Tumor cells in some 
members within the family, past or present. Detecting hereditary Cancer conditions requires detailed testing and pinpoint accuracy of result-generation. We take great caution to 
diagnose your condition accurately and understand your needs in detail. We work with you to offer Advanced Cancer Genomics Testing and Profiling Services.
<br/>  <br/>
We aim to help you improve the quality of your life by taking charge of your personal 
healthcare needs. Our institution is focused towards helping you avoid, detect and treat 
Cancer-related conditions through evidence-based testing conducted in our highly-equipped testing laboratories. Our counsellors use a science-driven approach to help 
patients make informed decisions every step of the way.
            </h3>

            <button mat-button  class="landing_block5" (click)="scroll()"><span class="landing_block5_span">GET TESTED NOW</span></button>

        </mat-card-content>

        </mat-card-content>

        </mat-card> 


 <app-footer></app-footer>